.heroSection {
  padding: 4em 0;
}

.heroSection .desktop {
  align-items: center;
}

.heroSection .desktop img {
    width: 300px;
}

#maintitle {
  font-size: 40.5px;
  line-height: 1.1em;
}

.heroSection .desktop > div:first-child {
  text-align: left;
}
