.select {
  width: 100%;
  text-align: left;
}

.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent url('select-arrow.svg') no-repeat right;
  background-size: 20px 20px;
  background-position: right 15px center;
  border-radius: unset;
  border: 1px solid var(--light-grey);
  color: var(--dark-grey);
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem;
}

.select.error select {
  display: block;
  border: 1px solid var(--accent)
}

.select .errorBlock {
  height: 0.8rem;
  color: var(--accent)
}

.select .errorBlock {
  margin-bottom: 0.8rem;
}
