.signupForm {
  margin: 0 auto;
  background: var(--white);
  width: 100%;
  max-width: 350px;
  padding: 1.5rem 1.2rem 0;
  border: 1px solid transparent;
}

.thankYouMessage {
  min-height: 550px;
  display: flex;
  align-items: center;
}

.signupForm button {
  width: 100%;
  padding: 10px 40px;
  color: var(--white);
  background: var(--accent);
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.signupForm .error {
  line-height: 0.8rem;
  color: var(--accent);
}

.signupForm .error a {
  color: var(--accent);
}
