.organisations {
  padding: 4em 2em;
  background: var(--white);
}

.organisations a {
  display: inline-block;
  margin: 1.5rem auto 0;
  padding: 10px 40px;
  color: var(--white);
  background: var(--accent);
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.organisations .image {
  max-width: 400px;
  height: 350px;
  margin: 0 auto 2em;
}
