.howItWorks {
  padding: 0;
  background: var(--primary);
}

.howItWorks .content {
  padding: 5em 0px 2em 0px;
}

.howItWorks .divider {
  width: 100%;
  height: 8em;
  transform: rotate(180deg);
  margin: 0;
  display: block;
}

.howItWorks .mobile .step {
  margin: 3rem 0;
}

.howItWorks .desktop > div {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.howItWorks .desktop > div > * {
  flex-grow: 1;
  flex-basis: 0;
 }
