.step {
  margin: 1.5rem;
}

.step h4 {
  margin-bottom: 0.5rem;
}

.numberCircle {
  margin: 1rem auto;
  border-radius: 50%;
  width: 40px;
  line-height: 40px;
  background: var(--white);
  color: var(--accent);
  text-align: center;
}
