:root {
  --primary: rgb(222, 214, 214);
  --secondary: rgb(70, 69, 67);
  --accent: rgb(219,67,43);
  --white: rgb(255,255,255);
  --dark-grey: rgb(38,38,38);
  --light-grey: rgb(187, 187, 187);
  --black: rgb(0,0,0)
}
